<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./vue.css">
    <script src="./vue.js"></script>
</head>
<body>

<div id="app">
    <ul>
        <li v-for="(user, i) in users" :key="user">{{ user }} - {{ i }}</li> <!-- :key il faut mettre pour index unique, IMPORTANT -->
    </ul>
    <template v-for="(user, index) in users">
        <li>[{{index}}] - {{ user }}</li>
    </template>
    <br>
    <button @click="users.push('spices')" class="btn-add-user">Add user</button>

    <hr>
    <ul v-for="person in persons">
        <p>Name: {{ person.name }}</p>
        <div v-for="p in person.messages">
            <p style="padding-left: 20px;">Message: {{ p.text }}</p>
        </div>
    </ul>

</div>

<script>
    new Vue({
        el: '#app',
        data: {
            users: ['Max', 'Steve', 'Oleg'],
            persons: [
                { name: 'Max', age: 27, color: 'red', messages: [{text: 'hello'}, {text: 'by'}] },
                { name: 'Anna', age: 'unknow', color: 'blue', messages: [{text: 'Hi'}, {text: 'Se you later'}] },
            ]
        },
        methods: { }
    })
</script>


</body>
</html>