.demo{
    width: 100px;
    height: 100px;
    background-color: gray;
    display: inline-block;
    margin: 10px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.btn-add-user {
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 100px
}